<%- include("header") -%>

<script>
    function validateForm() {
      var x = document.forms["myForm"]["name"].value;
      var y = document.forms["myForm"]["email"].value;
      var z = document.forms["myForm"]["subject"].value;
      var a = document.forms["myForm"]["message"].value;
      if (x == "" ||y == "" ||z == "" ||a == "" ) {
        alert("All the fields must be filled");
        return false;
      }
    }
    </script>

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact" style="padding-top: 120px;">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Write your doubt here!!!!</h2>
        <p>Any Doubt</p>
      </div>

      <div class="row">
         <div class="col-lg-10 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="200">
          <form action="https://forms.gle/bSei5voJsD9z2Haj6" method="post" role="form" onsubmit="return validateForm()" name="myForm" class="">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone " data-rule="minlen:4" data-msg="Please enter valid phone number" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="doubt" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Write your doubt here!!!"></textarea>
              <div class="validate"></div>
            </div>
            <div class="text-center"><button type="submit" style="background: #1acc8d;
              border: 0;
              padding: 10px 30px;
              color: #fff;
              transition: 0.4s;
              border-radius: 50px;">Send your doubt</button>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

<%- include("footer") -%>