<%- include("header") -%>

<main id="main">

   

    <section class="inner-page">
      <div class="container">
        <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Form</h2>
          <p>Submitted</p>
        </div>
        <a href="/">
            <button style="background: #1acc8d;
                border: 0;
                padding: 10px 30px;
                color: #fff;
                transition: 0.4s;
                border-radius: 50px;">Go Back</button>

        </a>
        
      </div>
    </section>
    
    <!-- End Features Section -->
      </div>
    </section>

  </main><!-- End #main -->

<%- include("footer") -%>