<%- include("../../../header") -%>

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>English</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/#features">Classes</a></li>
            <li><a href="/class10">Class 10th</a></li>
            <li>English</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
           <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Section - A, B, C</h2>
            <p>Notes</p>
          </div>
  
          <div style="margin-bottom: 25px;" data-aos="fade-up">
            <h4>If you have any of the doubts or you want any material to be added <a href="https://forms.gle/jtNCERQ7G4AJnyGy7" target="_blank"><strong>Click_here!!</strong></a></h4>
            <h6><%= status %></h6>
          </div>
  
          <div class="row" data-aos="fade-left">
            <div class="col-lg-3 col-md-4">
              <a href="/class10/science">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                <i class="ri-file-list-3-line" style="color: #ffbb2c;"></i>
                <h3 style="color: #010483;">Writing</h3>
              </div></a>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
              <a href="/class10/maths">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                <i class="ri-file-list-3-line" style="color: #5578ff;"></i>
                <h3 style="color: #010483;">Reading</h3>
              </div></a>
            </div>
            <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
              <a href="/class10/hindi">
              <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                <i class="ri-file-list-3-line" style="color: #e80368;"></i>
                <h3 style="color: #010483;">Grammer</h3>
              </div></a>
            </div>
          </div>
  
        </div>
      </section>
      
      <!-- End Features Section -->
        
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Chapters</h2>
          <p>NCERT</p>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Two gentlemen of verona <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/Class10_Chemical%20Reactions%20and%20Equations.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-2">Mrs. Packletide’s Tiger <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/CLASS10_METALS%20AND%20NON-METALS.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-3">The Letter <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/science_class10_Carbon%20and%20its%20Compounds.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-4">A Shady Plot <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/science_class10_acids.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-5">Patol Babu, Film Star <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/science_class10_PERIODC%20CLASSIFICATION%20%20OF%20ELEMENT.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-6">Virtually True <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-6" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/LIFE%20PROCESS.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-7">The Frog and the Nightingale <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-7" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/CONTROL%20AND%20COORDINATION.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-8">Mirror <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-8" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/Heredity%20and%20Evolution.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-14">Not Marble, nor the Gilded Monuments <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-14" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/LIGHT.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-15">Ozymandias <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-15" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/ORGANISMS%20REPRODUSE.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-16">The Rime of the Ancient Mariner <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-16" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/Human%20Eye%20and%20Colourful%20World.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-17">Snake <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-17" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/ELECRTICITY.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-10">The Dear Departed  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-10" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/OUR%20ENVIROMENT.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-11">Julius Caesar <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-11" class="collapse " data-parent=".faq-list">
                <div>
                    <p>
                        <a href="" style="color: blue;">Summary</a>
                    </p>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/Science/NCERT_Soln/MAGNETIC%20EFFECT%20OF%20CURRENT.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            
          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->
    
      </div>
    </section>

  </main><!-- End #main -->

  <%- include("../../../footer") -%>