<%- include("../../../header") -%>
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Kindergarten</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/#features">Classes</a></li>
            <li>Kindergarten</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Counting (0-49)</h2>
          <p>Video</p>
        </div>

        <div class="row" data-aos="fade-left">
            <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="926" height="521" src="https://www.youtube.com/embed/12E5jbCHvk4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
      </div>
    </section>
    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2>Counting (0-49)</h2>
            <p>PPT</p>
          </div>
  
          <div class="row" data-aos="fade-left">
            <div class="col-lg-3 col-md-4">
                <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Kindergarten/Maths/Counting%200-49.pdf" target="_blank">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
                  <i class="ri-file-list-3-line" style="color:  #47aeff;"></i>
                  <h3 style="color: #010483;">PPT (Click Here)</h3>
                </div></a>
              </div>
          </div>
        </div>
      </section>
    
    <!-- End Features Section -->
      </div>
    </section>

  </main><!-- End #main -->
  <%- include("../../../footer") -%>