<%- include("../../header") -%>
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Kindergarten</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/#features">Classes</a></li>
            <li>Kindergarten</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Find your material here</h2>
          <p>Topic</p>
        </div>

        <div class="row" data-aos="fade-left">
          <div class="col-lg-3 col-md-4">
            <a href="/class10/english">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <i class="ri-file-list-3-line" style="color:  #47aeff;"></i>
              <h3 style="color: #010483;">Counting (0 - 49)</h3>
            </div></a>
          </div>
          <div class="col-lg-3 col-md-4">
            <a href="/class10/science">
            <div class="icon-box" data-aos="zoom-in" data-aos-delay="50">
              <i class="ri-file-list-3-line" style="color: #ffbb2c;"></i>
              <h3 style="color: #010483;">Alphabets (A - Z)</h3>
            </div></a>
          </div>
        </div>
      </div>
    </section>
    
    <!-- End Features Section -->
      </div>
    </section>

  </main><!-- End #main -->
  <%- include("../../footer") -%>