<%- include("../../../header") -%>

<main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>History</h2>
          <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/#features">Classes</a></li>
            <li><a href="/class10">Class 10th</a></li>
            <li>History</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        
    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Chapters</h2>
          <p>NCERT</p>
        </div>
        <div style="margin-bottom: 25px;" data-aos="fade-up">
          <h4>If you have any of the doubts or you want any material to be added <a href="https://forms.gle/bSei5voJsD9z2Haj6" target="_blank"><strong>Click_here!!</strong></a></h4>
          <h6><%= status %></h6>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">The Rise of Nationalism in Europe <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <div>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/History/HISTORY%20CH-1.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-2">The Nationalist Movement in Indo-China <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse " data-parent=".faq-list">
                <div>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/History/HISTORY%20CH-2.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-3">Nationalism in India <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse " data-parent=".faq-list">
                <div>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/History/HISTORY%20CH-3.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-4">The Making of a Global World <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse " data-parent=".faq-list">
                <div>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/History/HISTORY%20CH-4.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-5">The Age of Industrialisation <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse " data-parent=".faq-list">
                <div>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/History/HISTORY%20CH-5.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-6">Work, Life and Leisure <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-6" class="collapse " data-parent=".faq-list">
                <div>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/History/HISTORY%20CH-6.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
              <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-7">Print Culture and the Modern World <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-7" class="collapse " data-parent=".faq-list">
                <div>
                  <p>
                    <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/History/HISTORY%20CH-7.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                  </p>
                </div>
              </div>
            </li>
            <li data-aos="fade-up">
                <i class="bx bx-book-alt icon-help"></i> <a data-toggle="collapse" class="collapsed" href="#faq-list-8">Novels, Society and History <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-8" class="collapse " data-parent=".faq-list">
                  <div>
                    <p>
                      <a href="https://mezerate.ams3.digitaloceanspaces.com/Classes/Class10/History/HISTORY%20CH-8.pdf" target="_blank" style="color: blue;">NCERT Solutions (Click Here)</a>
                    </p>
                  </div>
                </div>
              </li>
          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->
    
      </div>
    </section>

  </main><!-- End #main -->

  <%- include("../../../footer") -%>